input, select, textarea, button{font-family:inherit;}

.right {
    color: green;
}

.wrong {
    color: red;
}

.button {
    text-decoration: underline;
}

#score {
	font-style: italic;
}

li {
	margin: 15px 0;
}

input {
	background-color: transparent;
	text-decoration: underline;
    border: 0px solid;
    margin: 0px;
    color: black;
}